<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="jude.forcadas.com.experimental">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuActivity" />
        <activity android:name=".Menu1View" />
        <activity android:name=".Menu2View" />
        <activity android:name=".Menu3View" />
        <activity android:name=".Menu4View" />
        <activity android:name=".Menu5View" />
        <activity android:name=".Menu6View" />
        <activity android:name=".Menu7View" />
        <activity android:name=".Menu8View" />
        <activity android:name=".Menu9View" />
        <activity android:name=".Menu10View" />
        <activity android:name=".Menu11View" />
        <activity android:name=".Menu12View" />
        <activity android:name=".Menu13View" />
        <activity android:name=".Menu14View" />
        <activity android:name=".Menu15View" />
        <activity android:name=".Menu16View" />
        <activity android:name=".Menu17View" />
        <activity android:name=".Menu18View" />
        <activity android:name=".Menu19View" />
        <activity android:name=".Menu20View" />
        <activity android:name=".Menu21View" />
        <activity android:name=".Menu22View" />
        <activity android:name=".Menu23View" />
        <activity android:name=".Menu24View" />
    </application>

</manifest>